body {
  font-family: arial;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
main {
  display: block;
  position: relative;
}
.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  max-width: 100px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
root {
  --border-radius: 6px;
  --textBrand: #1b4de4;
  --textDefault: #2b2b2b;
  --textDark: #000;
  --textMedium: #2b2b2b;
  --textBgMedium: #383838;
  --textLight: #686c74;
  --textSecondary: #6f7585;
  --textOverlay: #fff;
  --textDisabled: #43454e;
  --textError: #eb0000;
  --textSevere: #da291c;
  --textValid: #34c759;
  --alertLevel1: #ba0d00;
  --alertLevel2: #e6731f;
  --alertLevel3: #ebbb02;
  --alertLevel4: #a51ccb;
  --alertSevere: #ba0d00;
  --borderDefault: #dedede;
  --borderLight: #f0f0f0;
  --borderMedium: #ceced0;
  --borderDark: #2b2b2b;
  --borderError: #eb0000;
  --backgroundDefault: #fff;
  --backgroundLight: #ebecee;
  --backgroundCard: #fff;
  --backgroundBrand: #039;
  --backgroundActive: #1b4de4;
  --backgroundBrandAccent: #1b4de4;
  --backgroundInverse: #000;
  --backgroundOverlay: #fff;
  --backgroundModalOverlay: #000c;
  --backgroundShadow: #0003;
  --backgroundTableBody: #f1f1f1;
  --backgroundInverseOverlay: #0000008c;
  --backgroundHeading: #f6f6f6;
  --backgroundProfileIcon: #05336b;
  --backgroundCaution: #e02020;
  --buttonBackground: #fff;
  --buttonInactive: #dee0e3;
  --buttonText: #1b4de4;
  --primaryButtonBackground: #1b4de4;
  --primaryButtonBgDisabled: #ebecee;
  --primaryButtonText: #fff;
  --primaryButtonTextDisabled: #686c74;
  --secondaryButtonBackground: #fff;
  --secondaryButtonText: #1b4de4;
  --buttonTrack: #6f7585;
  --buttonThumb: #fff;
  --buttonDisabled: #b1b1b1;
  --iconLight: #fff;
  --iconDark: #000;
  --iconInactiveGray: #ceced0;
  --iconSuccess: #25bef7;
  --iconGray: #ceced0;
  --module-rail-padding: 26px;
  --module-content-padding: 10px 16px;
  color: var(--textDefault);
}
